[Unit]
Description=Bloom HTTP REST API caching middleware
After=network.target

[Service]
Type=simple
User=bloom
Group=bloom
ExecStart=/usr/bin/bloom -c /etc/bloom.cfg
Restart=on-failure
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
