#!/usr/bin/make -f

DISTRIBUTION = $(shell lsb_release -sr)
VERSION = 0.0.5
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = v$(VERSION)
URL = https://github.com/valeriansaliou/bloom/archive/

%:
		dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
		$(eval ENV_ARCH := $(shell uname -m))
		$(eval ENV_TARBALL := $(TARBALL)-$(ENV_ARCH).tar.gz)

		echo "Target: $(URL)$(ENV_TARBALL)"

		wget -N --progress=dot:mega $(URL)$(ENV_TARBALL)
		tar --strip-components=1 -xf $(ENV_TARBALL)
		strip target/release/bloom
		mkdir debian/bloom/
		mv target/release/{bloom,config.cfg} debian/bloom/

override_dh_gencontrol:
		dh_gencontrol -- -v$(PACKAGEVERSION)
