#!/usr/bin/make -f

USER = $(whoami)
DISTRIBUTION = $(lsb_release -sr)
VERSION = 0.0.5
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0
TARBALL = v$(VERSION).tar.gz
URL = https://github.com/valeriansaliou/bloom/archive/$(TARBALL)
BUILD_ENV_DIR = /tmp/build/env/

%:
		dh $@

override_dh_auto_clean:
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
		sudo mkdir -p $(BUILD_ENV_DIR)
		sudo chown $(USER):$(USER) $(BUILD_ENV_DIR)
		HOME=$(BUILD_ENV_DIR) CARGO_HOME=$(BUILD_ENV_DIR) RUSTUP_HOME=$(BUILD_ENV_DIR) bash -c 'curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain nightly'
		wget -N --progress=dot:mega $(URL)
		tar --strip-components=1 -xf $(TARBALL)
		$(BUILD_ENV_DIR)/bin/cargo build --release
		strip target/release/bloom
		mkdir debian/bloom/
		mv target/release/bloom debian/bloom/

override_dh_gencontrol:
		dh_gencontrol -- -v$(PACKAGEVERSION)
